.navbar-brand {
  font-size: 30px;
  letter-spacing: 2px;
}

.footerGrey {
  background-color: #272b30;
}
#picture {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10%;
}
@media (max-width: 768px) {
  #picture {
    margin-top: 0;
    width: 90%;
  }
}
a.contactCol:hover {
  color: rgb(114, 114, 112);
}
#aboutHeading {
  padding-top: 20px;
  padding-bottom: 20px;
}
#film {
  text-align: center;
  padding: 20px;
}
.card {
  background-color: #fffaef;
}
.headingsAll {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
}
@media (min-width: 768px) {
  .credentialLists {
    padding: 5%;
    font-size: 18px;
  }
}

.specialWords {
  font-weight: bold;
}
.specialWords2 {
  font-style: italic;
}

.circleLists {
  list-style-type: circle;
}
.experienceContainer {
  margin-top: 5%;
}
.experienceCol {
  border: #797979 groove 2px;
  border-radius: 5px;
  margin: 2%;
  background-color: #fffaef;
}
/*footer style start*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  text-align: center;
  width: 100%;
  background-color: #272b30;
  color: #f5f0f0;
  margin-top: 1.5rem;
  padding: 1%;
}
.content {
  flex: 1;
}
/*footer style end*/
.contactContainer {
  background-color: #f3eddd;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contactPadding {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.emailLink {
  text-decoration: none;
  color: black;
}

.emailLink:hover {
  color: darkorchid;
}
.contactList {
  list-style-type: square;
}

.pictureFilmStrip {
  width: 25%;
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  .pictureFilmStrip {
    width: 79%;
  }
}
